@model IEnumerable<GuideParticipantsServiceModel>

@{
    this.ViewBag.Title = "All participants";
}

<div asp-validation-summary="All" class="text-danger"></div>

@if (!Model.Any())
{
    <div class="alert alert-danger text-center" role="alert">
        You have no registered participants.
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Last name:</th>
                <th scope="col">City:</th>
                <th scope="col">Phone:</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserFirstName</td>
                    <td>@user.UserLastName</td>
                    <td>@user.UserCity</td>
                    <td>@user.UserPhoneNumber</td>
                    <td><a asp-controller="Reservations" asp-action="Remove" asp-route-Id="@user.ReservationId" class="btn btn-danger">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
}