@model BlogPostServiceModel

@{
    this.ViewBag.Title = "Details of the post";
}
<div class="card mb-5"  style="max-width: 920px;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Title">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
        <h3 class="card-text"><small class="text-muted">Автор: @Model.Author</small></h3>
    </div>
</div>