@model RouteDetailsServiceModel

@{
    this.ViewBag.Title = "Route details";
}

<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="@Model.Name">
            <h5 class="card-title mt-3 text-center">@Model.Name</h5>
            <h6 class="card-title mt-3 text-center">@Model.Mountain</h6>
            <h3 class="card-title mt-3 text-center"> <a asp-controller="Reservations" asp-action="Add" asp-route-Id="@Model.Id" class="btn btn-primary">Reserve a place</a></h3>
            <h3 class="card-title mt-3 text-center"> <a asp-controller="Reviews" asp-action="AllRouteReviews" asp-route-Id="@Model.Id" class="btn btn-info">Check reviews</a></h3>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Category:</th>
                            <td>@Model.CategoryName</td>
                        </tr>
                        <tr>
                            <th scope="row">Start point:</th>
                            <td>@Model.StartPoint</td>
                        </tr>
                        <tr>
                            <th scope="row">End point:</th>
                            <td>@Model.EndPoint</td>
                        </tr>
                        <tr>
                            <th scope="row">Length:</th>
                            <td>@Model.Length</td>
                        </tr>
                        <tr>
                            <th scope="row">Region:</th>
                            <td>@Model.Region</td>
                        </tr>
                        <tr>
                            <th scope="row">Price:</th>
                            <td>@Model.Price</td>
                        </tr>
                        <tr>
                            <th scope="row">Departure time:</th>
                            <td>@Model.DepartureTime</td>
                        </tr>
                        <tr>
                            <th scope="row">Free seats:</th>
                            <td>@Model.Participants</td>
                        </tr>
                        <tr>
                            <th scope="row">Name of mountain guide:</th>
                            <td>@Model.GuideName</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<h5 class="card-title">Description:</h5>
<p class="card-text">@Model.Description</p>

