@model IEnumerable<ReservationServiceModel>

@{
    this.ViewBag.Title = "My reservations";
}

@if (!Model.Any())
{
    <h2 class="text-center text-danger">No reservations!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name of route:</th>
                <th scope="col">Mountain:</th>
                <th scope="col">Region:</th>
                <th scope="col">Name of guider:</th>
                <th scope="col">Date of departure:</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var reservation in Model)
        {
            <tbody>
                <tr>
                    <td>@reservation.RouteName</td>
                    <td>@reservation.RouteMountain</td>
                    <td>@reservation.RouteRegion</td>
                    <td>@reservation.GuideName</td>
                    <td>@reservation.RouteDate</td>
                    <td> <a asp-controller="Reservations" asp-action="Cancel" asp-route-Id="@reservation.Id" class="btn btn-danger">Cencel</a></td>
                </tr>
            </tbody>
        }
    </table>
}