@model IEnumerable<RouteServiceModel>

@{
    ViewBag.Title = "All routes";
}

@if (!Model.Any())
{
    <h2 class="text-center text-danger">No routes!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name of route</th>
                <th scope="col">Mountain</th>
                <th scope="col">Region</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var route in Model)
        {
            <tbody>
                <tr>
                    <td>@route.Name</td>
                    <td>@route.Mountain</td>
                    <td>@route.Region</td>
                    <td> <a asp-area="Admin" asp-controller="Routes" asp-action="Delete" asp-route-Id="@route.Id" class="btn btn-danger">Remove</a></td>
                    <td> <a asp-area="Admin" asp-controller="Routes" asp-action="Edit" asp-route-Id="@route.Id" class="btn btn-warning">Change</a></td>
                </tr>
            </tbody>
        }
    </table>
}